{% extends 'base.html' %}

{% block title %}Import JSON Data{% endblock %}

{% block content %}
    <h1>Import JSON Data</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="json_file">Json File</label><br>
        <input type="file" name="json_file"><br><br>
        <label for="word_col">Column name for Word :</label><br>
        <input type="text" name="word_col" value="Word"><br>
        <button type="submit" style="margin:1em">Import</button>
    </form>
{% if user.is_authenticated %}
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% endif %}
{% endblock %}
